[build]
builder = "NIXPACKS"

[deploy]
startCommand = "gunicorn sales_project.wsgi:application --bind 0.0.0.0:$PORT --timeout 120 --workers 2"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
